* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  /* color: rgb(121, 0, 0); */
}

.wrapper {
  border-radius: 0.5rem;
  border: 1px solid grey;
  margin-bottom: 0.5rem;
  background-color: #ffefcc;
}

.input-error-border {
  border: 1px solid red;
  border-radius: 3px;
}

.input-error-span {
  color: red;
}

.wrapper-form div, h1, fieldset {
  padding: 0.25rem;
  margin: 0.25rem;
}

#students-list{
  padding: 0.25rem;
  margin: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.75rem;
}

#student-item {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid grey;
  background-color: white;
  width: calc((100% - 1.5rem) / 3);
}

#student-item input {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

p, h4, ul {
  margin: 0.25rem;
}

@media (max-width: 992px) {  
  #student-item {
    width: calc((100% - 0.75rem) / 2);
  }
}

@media (max-width: 576px) {  
  #student-item {
    width: 100%;
  }
}


